@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@400;700&display=swap');
/* Styling for forgot password*/
.entire-page {
    background-color: #17161F;
    color: white;
    height: 100rem;
    font-size: 0.8rem;
}

.center img {
    width: 14rem;
    margin: 3rem
}

.center {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.pink {
    color: #FF5DA3;
}  

.blue {
    color: #5D80FF;
}

.title {
    font-family: 'Lexend Mega', sans-serif;
    font-size: 3rem;
    margin-bottom: 2rem;
}

button {
    background-color: rgb(255, 104, 104);
    padding: 0.5rem;
    margin: 1rem;
    font-family: 'Lexend Mega', sans-serif;
    border-radius: 12px;
}

.google-section-s {
    margin: 0px;
    padding: 0px;
    font-family: 'Lexend Mega', sans-serif;
}

.google-section-s:hover {
    color: rgb(133, 133, 133);
}

.google-s {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    background-color: #17161F;
}

button {
    background-color: rgb(255, 104, 104);
    padding: 0.5rem;
    margin: 1rem;
    font-family: 'Lexend Mega', sans-serif;
    border-radius: 12px;
}

.text-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .text-input form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .text-input button {
    margin-top: 10px;
  }
  
  .text-input p {
    text-align: center;
    width: 100%;
  }
