@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@400;700&display=swap');

.goal-setting-container {
    display: flex;
    flex-direction: column; 
}

.main-content {
    display: flex;
    flex-grow: 1;
    margin-top: 80px;
}

.sidebar {
    width: 250px;
    background-color: #1a1a1a;
    color: white;
    height: 100vh;
    padding: 20px;
    position: fixed;
    left: 0;
    top: 80px; 
}


.goal-main {
    flex-grow: 1;
    padding: 20px;
    margin-left: 250px;
    margin-top: 80px; 
    background-color: #17161F;
    color: white;
    min-height: calc(100vh - 80px); 
    position: relative;
    left: 4rem;
   
}


.goal-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.goal-card {
    padding: 15px;
    background-color: #444;
    border-radius: 8px;
    text-align: center;
    
}


.add-goal-card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border: 2px dashed #888;
    cursor: pointer;
}
