@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@400;700&display=swap');

.entire-page-q {
    background-color: #17161F;
    color: white;
    height: 200rem !important;
    font-size: 0.8rem;
}

.center-q img {
    width: 14rem;
    margin: 3rem
}

.center-q {
    display: flex;
    justify-content: right;
    padding: 2rem;
}

.pink-q {
    color: #FF5DA3;
}  

.blue-q {
    color: #5D80FF;
}

.title-q {
    font-family: 'Lexend Mega', sans-serif;
    font-size: 1rem;
    margin-bottom: 1rem;
}
.title2{
    font-family: 'Lexend Mega', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    margin-left: 5rem;
}
.whole-content{
    margin-left: 5rem;
}
.whole-content h3{
    font-family: 'Lexend Mega', sans-serif;
    font-size: 1rem;
}
.gender-choices{
    display: inline-flex;
    gap: 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.gender-choices button{
    margin: 0;
    width: 16rem;
    height: 3.2rem;
    text-align: center;
    font-size: 1rem;
    padding: auto;
}
.female{
    background-color: #17161F;
    border: .2rem solid #FF5DA3;
    color: #FF5DA3;
    transition: all 1ms;
}

.male{
    background-color: #17161F;
    border: .2rem solid #5D80FF;
    color: #5D80FF;
    transition: all 1ms;
}
.prefer{
    background-color: #17161F;
    border: .2rem solid #915DFF;
    color: #915DFF;
    transition: all 1ms;
    width: 15.5rem !important;
}
.female:hover{
    cursor: pointer;
}
.male:hover{
    cursor: pointer;
}
.prefer:hover{
    cursor: pointer;
}

.f-selected{
    background-color: #FF5DA3;
    color: #17161F;
    cursor: pointer;
}


.m-selected{
    background-color: #5D80FF;
    color: #17161F;
    cursor: pointer;
}
.p-selected{
    background-color: #915DFF;
    color: #17161F;
    cursor: pointer;
}

.bio-metrics{
    margin-top: 2rem;
    display: inline-flex;
    gap: 4rem;
    margin-bottom: 2rem;

}
.bio-metrics label{
    font-family: 'Lexend Mega', sans-serif;

}
.bio-metrics input{
    width: 15rem;
    height: 3.2rem;
    margin: 0;
    border: .2rem solid #5D80FF;
   
}
/* button {
    background-color: rgb(255, 104, 104);
    padding: 0.5rem;
    margin: 1rem;
    font-family: 'Lexend Mega', sans-serif;
    border-radius: 12px;
}

.google-section-s {
    margin: 0px;
    padding: 0px;
    font-family: 'Lexend Mega', sans-serif;
}

.google-section-s:hover {
    color: rgb(133, 133, 133);
}

.google-s {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    background-color: #17161F;
}

button {
    background-color: rgb(255, 104, 104);
    padding: 0.5rem;
    margin: 1rem;
    font-family: 'Lexend Mega', sans-serif;
    border-radius: 12px;
}

.text-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .text-input form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .text-input button {
    margin-top: 10px;
  }
  
  .text-input p {
    text-align: center;
    width: 100%;
  } */
  .workout-choices{
    display: inline-flex;
    gap: 4rem;
    margin-top: 2rem;
  
  }

  .workout-choices button{
    margin: 0;
  }

  .workout-button {
    width: 15rem;
    height: 3.2rem;
    text-align: center;
    font-size: 1rem;
    padding: auto;
    background-color: #17161F;
    border: .2rem solid #5D80FF;
    color: #5D80FF;
    transition: all 1s;
}

.workout-button:hover {
    cursor: pointer;
    background-color: #5D80FF;
    color: #17161F;
}

.selected {
    background-color: #5D80FF;
    color: #17161F;
}

.specific-workouts{
    margin-bottom: 2rem;
    margin-top: 3rem;
 
    
}


.fitness-goals-container {
   
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    position: absolute;
    right: 3.5rem !important;
    top: 25%;
    width: max-content;
    padding-left: 1rem;
    font-family: 'Lexend Mega', sans-serif;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 1rem;
    padding: 1rem;
}

.goal-button {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
    background-color: #17161F;
    color: #5D80FF;
    border: .2rem solid #5D80FF;
    margin-right: 1rem;
    transition: all 1s;
   
}

.specific-w-button{
    margin-top: 1rem;
    padding: 0.5rem;
    width: 15rem;
    font-size: 1rem;
    border-radius: 5px;
    background-color: #17161F;
    color: #5D80FF;
    border: .2rem solid #5D80FF;
    transition: all 1s;
    margin-left: 0;
}

.goal-button:hover {
    cursor: pointer;
    background-color: #5D80FF;
    color: #17161F;
}

.goal-selected {
    background-color: #5D80FF;
    color: #17161F;
}
.specific-w-button-selected{
    background-color: #5D80FF;
    color: #17161F;
    cursor: pointer;
}

.specific-workout-s{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
   justify-content: center;

}

.specific-workout-s h4{
    font-size: 1rem;
   
}
.specific-workout-s button{
    display: flex;
   align-items: center;
   justify-content: center;
}

.workout-choices h4{
    font-family: 'Lexend Mega', sans-serif;
}
/* 


.fitness-goals-container input {
    margin-top: 1rem;
    padding: 0.5rem;
    width: 30rem;
    font-size: 1rem;
    border-radius: 5px;
    background-color: #17161F;
    color: white;
    border: 1px solid #5D80FF;
}

.fitness-goals-container input:focus {
    outline: none;
    border-color: #FF5DA3;
} */
.pink-n {
    border: .3rem #FF5DA3 solid;
    position: relative;
    left: 5rem; 
    top: 3rem;   
    border-radius:1rem;
    width: 12rem;
    font-size: 1rem;
    background-color: #FF5DA3;
    color: #17161F;
    margin-left: 0;
  }
  


.entire-page-q {
    background-color: #17161F;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
}

.center-q img {
    width: 14rem;
    margin: 3rem;
}

.center-q {
    display: flex;
    justify-content: right;
    padding: 2rem;
}

.pink-q {
    color: #FF5DA3;
}

.blue-q {
    color: #5D80FF;
}

.title-q {
    font-family: 'Lexend Mega', sans-serif;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.title2 {
    font-family: 'Lexend Mega', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    margin-left: 5rem;
}

.whole-content {
    margin-left: 5rem;
}

.whole-content h3 {
    font-family: 'Lexend Mega', sans-serif;
    font-size: 1rem;
}

.gender-choices {
    display: inline-flex;
    gap: 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.gender-choices button {
    margin: 0;
    width: 15rem;
    height: 3.2rem;
    text-align: center;
    font-size: 1rem;
    padding: auto;
}

.workout-choices {
    display: inline-flex;
    gap: 4rem;
    margin-top: 2rem;
}

.workout-choices button {
    margin: 0;
}

.selected {
    background-color: #5D80FF;
    color: #17161F;
}

.fitness-goals-container {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    position: absolute;
    right: 5rem; 
    top: 10%;
    width: auto;
    padding-left: 1rem;
    font-family: 'Lexend Mega', sans-serif;
    background-color: #2A2937;
    border-radius: 1rem;
    padding: 1rem;
    flex-wrap: wrap;
}

.fitness-goal-section{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.goal-button {
    margin-top: 1rem;
    padding: 0.5rem;
    width: 15rem;
    font-size: 1rem;
    border-radius: 5px;
    background-color: #17161F;
    color: #5D80FF;
    border: .2rem solid #5D80FF;
    transition: all 1s;
    margin-left: 0;
}

.goal-button:hover {
    cursor: pointer;
    background-color: #5D80FF;
    color: #17161F;
}

.goal-selected {
    background-color: #5D80FF;
    color: #17161F;
}
