@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@400;700&display=swap');

.signup-page {
    background-color: #17161F;
    color: white;
    height: 100rem;
    font-size: 0.8rem;
}

.center-s img {
    width: 14rem;
    margin: 3rem
}

.center-s {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.pink-s {
    color: #FF5DA3;
}  

.blue-s {
    color: #5D80FF;
}

.title-s {
    font-family: 'Lexend Mega', sans-serif;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.sign-s {
    background-color: rgb(93, 128, 255, 1);
    border-color:#5D80FF;
    border-width: 3px;
    color: #17161F;
    font-weight: bold;
}

.log-s {
    background-color:  rgb(93, 128, 255, 0);
    border-color:#FF5DA3;
    border-width: 3px;
    color: #FF5DA3;
    font-weight: bold;
    transition: all 1s;
}

.log-s:hover {
    background-color: rgb(255, 93, 163);
    border-color: rgb(255, 93, 163);
    color: #17161F;
    cursor: pointer;
}

.create-account-s {
    background-color: #5D80FF;
    border-color:#5D80FF;
    border-width: 3px;
    color: #17161F;
    font-weight: bold;
    margin-top: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    transition: all 1s;
}

.create-account-s:hover {
    background-color: rgba(93, 128, 255, 0.398);
    border-color:rgb(93, 128, 255, 0.8);
    color: rgb(144, 168, 255);
    border-width: 0px;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    cursor: pointer;
}

input {
    border-width: 2px;
    border-color: #5D80FF;
    border-radius: 12px;
    padding: 0.5rem;
    margin: 1rem;
    font-family: 'Lexend Mega', sans-serif;
}

.switch-s {
    width: 13.5rem;
}

.google-section-s {
    margin: 0px;
    padding: 0px;
    transition: all 1s;
}

.google-section-s:hover {
    color: rgb(133, 133, 133);
    
}

.google-s {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    background-color: #17161F;
    cursor: pointer;
}

#google-img {
    padding: 0px;
    margin: 0px;
}